.global-toast {
    position: fixed;
    right: 4px;
    top: 4px;
    z-index: 999999;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: row;
    .sidebar {
        width: 140px;
        a {
            &.selected {
                background-color: #cccccc54;
            }
            line-height: 40px;
            font-size: 16px;
            text-align: center;;
            cursor: pointer;
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .content {
        flex: 1;
    }
}