.global-toast {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 999999;
}

.sidebar {
    a {
        &.selected {
            background-color: #cccccc;
        }
        line-height: 40px;
        font-size: 20px;
        text-align: center;;
        cursor: pointer;
        // border-bottom: 1px solid #ccc;
        display: block;
        &:hover {
            text-decoration: none;
        }
    }
}