.configuration {
    font-size: 12px;
    border: 1px solid #ccc;

    .title {
        font-weight: 700;
    }

    .field {
        padding: 4px;
        .disabled {
            color: #ccc;
        }
    }
}


.defect-box-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}